/* archivo: portal.css */

#portal-educativo {
    max-width: 800px;
    width: 100%;
    margin: 150px auto; /* Mueve el cuadro más abajo */
    padding: 40px 20px; /* Ajusta el padding para un cuadro grande */
    background-color: rgba(244, 244, 244, 0.85); /* Fondo semitransparente */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#portal-educativo h1 {
    font-size: 48px;
    color: #8B0000; /* Vino */
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

#portal-educativo label {
    display: block;
    margin: 10px 0 5px;
    color: #8B0000; /* Vino */
}

#portal-educativo input[type="text"], 
#portal-educativo input[type="password"], 
#portal-educativo select, 
#portal-educativo button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#portal-educativo input[type="text"], 
#portal-educativo input[type="password"], 
#portal-educativo select {
    background-color: #FFEBCC; /* Amarillo Arena */
}

#portal-educativo button {
    background-color: #8B0000; /* Vino */
    color: #fff;
    border: none;
    cursor: pointer;
}

#portal-educativo button:hover {
    background-color: #A52A2A; /* Color más claro al pasar el mouse */
}

